@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

body, html {
    background-color: #151226;
    margin: 0;
    padding: 0;
}

.login-container{
    height: 100vh;
    width: 100%;
    background-image: url("./images/login-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover; /* O puedes usar 'contain' según tus necesidades */
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    padding: 0;
    margin: 0;
    font-family: "Courgette", cursive;
    font-weight: 700;
    font-style: normal;
    font-size: 2.23em;
    color: #fff;
}

label{
    font-family: "Teachers", sans-serif;
    font-weight: 50;
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
}

.login-form{
    background-color: #151226;
    height: 70vh;
    width: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
}

p{
    font-family: "Teachers", sans-serif;
    color: #fff;
    font-size: 1em;
}

